<div class="col-sm-6 col-sm-offset-3">
    <div class="well">

        <div ng-include="'../views/top_navigation.html'"></div>

        <div class="col-lg-12" style="padding-bottom:30px;">

            <div class="input-group" style="padding-bottom:15px;">
                <input type="text" class="form-control" ng-model="home.filterText" placeholder="filtr...">
                  <span class="input-group-btn">
                     <button type="submit" class="btn btn-info" ng-click="home.filterMessage()">Apply</button>
                  </span>
            </div>

            <div class="input-group">
                <input type="text" class="form-control" ng-model="home.text" placeholder="Type your message here...">
                  <span class="input-group-btn">
                     <button type="submit" class="btn btn-info" ng-click="home.sendMessage()">Send</button>
                  </span>
            </div>
        </div>

        <div class="profile-activity">

            <div class="act-time" ng-repeat="mess in home.mess.data | orderBy:myOrderBy:reverse ">
                <div class="activity-body act-in">
                    <span class="arrow"></span>

                    <div class="text">
                        <a href="#" class="activity-img"><img class="avatar" src="img/user.png" alt=""></a>

                        <p class="attribution" ng-click="home.orderByMe('mess.created_at')"><a href="#">{{ mess.name
                            }}</a> {{
                            mess.created_at }}</p>

                        <p>{{ mess.description }}</p>
                    </div>
                </div>
            </div>
        </div>

        <nav class="text-center">
            <ul class="pagination" ng-repeat="value in home.getNumber(home.mess.last_page) track by $index">
                <li>
                    <a href='' ng-click="home.getMessages($index + 1)"> {{ $index + 1 }}</a>
                </li>
            </ul>
        </nav>

    </div>
</div>