<form class="login-form">
    <div class="login-wrap">
        <p class="login-img"><i class="icon_lock_alt"></i></p>

        <div class="input-group">
            <span class="input-group-addon"><i class="icon_profile"></i></span>
            <input type="text" class="form-control" ng-model="auth.name" placeholder="Username" autofocus>
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i>@</i></span>
            <input type="text" class="form-control" ng-model="auth.email" placeholder="email">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="icon_key_alt"></i></span>
            <input type="password" class="form-control" ng-model="auth.password" placeholder="Password">
        </div>

        <button class="btn btn-info btn-lg btn-block" ng-click="auth.signup()">Signup</button>
    </div>
    <div class="alert alert-danger" ng-if="auth.error">
        <strong>There was an error: </strong> {{ auth.error }}
    </div>
</form>